@media screen and (max-width: 768px){
        .head{
            max-width: 768px;
            padding-inline: 2rem;
            
        }

        .head-list{
            display: none ;
        }

        /* Celle */

        .cells{
            padding-inline: 4rem
        }

        .cell{
            height:480px
        
        }
        
        .content{
            display: flex;
            flex-direction: column;
        }

        .description{
            margin-right: -4rem;
        }

        .phone{
            width: 60%;
            margin-top: -4.45rem;
            margin-left: 1rem;      
        }

        .text-single{
            padding-inline: 0.5rem;
        }

        .second-line{
            height: 360px;
        }



        .container{
            display: flex;
            flex-direction: column;
            margin-inline: -1rem;
            padding-bottom: 3rem;
        }

        .planning-title{
            font-size: 40px;
            margin-left: -0.5rem;
        }



        .intern-container{
            margin-inline: 1.5rem;
            margin-top: -15rem;
        }



        .element{
            height: 200px;
            padding-inline:2rem ;
            margin-inline: 2rem;
        }



        .third-container{
            margin-inline: -2rem;
            
        }

        .white{
            flex-basis: 48%;
            width: calc(100% / 2);
            flex-wrap: wrap;
            height: 380px;
        }

        .title-number{
            font-size: 70px;
        }

        .vitae{
            font-size: 15px;
            padding-right: 1rem;
        }

        .app-store{
            font-size: 14px;
            font-weight: 800;
            padding-inline: -4rem;
            border-radius: 20px; 
        }        




        .About-Us-container{
            padding-right: 4rem;
        }

        .p-link{
            font-size: 18px;
        }






}



