*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
   
}


/* Header */


header{
    background-color: #1E90FF;
    font-size: 14px;
}

.head{
    max-width: 920px;
    height: 4rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
   
}

.logo{
    padding: 1rem;
    height: 65px;
}

.head-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point-list{
    margin-inline: 1rem;
}

.button{
    padding: 0.5rem;
    padding-inline: 1rem;
    background-color: white;
    border: 0;
    border-radius:15px;
}

/* Main */


/* Sezione 1 - Jumbo */

main{
    font-size: 13px;
}

.jumbo{
    max-width: 900px;
    margin: auto;
}

.border{
    --gapx: 1rem;
    --gapy: 1rem;
    padding-bottom: 5rem;
}

.cells{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    margin: 0 calc(-1 * var(--gapx) / 2) calc(-1 * var(--gapy));
    margin-top: 2.5rem;
}

.cell{
    flex-basis: 31.3333%;
	padding: 0 calc(var(--gapx) / 2) var(--gapy);
    margin-inline:1%;
    margin-bottom: 2%;
    background-color: 	#87cefad1;
    height: 280px;
    border-radius: 15px;
}

.texting{
    text-align: center;
}

.cell-double{
    flex-basis: 64.6666%;
    text-align: start;

}


/* Interno-celle */

.content{
    display: flex;
    padding-right: 3rem;   
}



/* cella doppia */


.title-content{
    color: #1E90FF;
    font-size: 16px;
}

.description{
    padding-top: 0.5rem;
}

.first{
    margin: 1.5rem;
}

.text{
    font-weight: 700;
    color: hsla(0, 0%, 0%, 0.600);
    line-height: 2;
}

.app-store{
    padding-inline: 3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #1E90FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    border-radius: 16px;
}

.phone{
    width: 36%;
    padding-top: 4.3rem;
}


/* Cella Singola */

.list-single{
    padding-top: 0.5rem;
}

.icona{
    font-size: 65px;
    color: #1E90FF;
}

.second{
    margin-top: 1rem;
    margin-inline: 0.5rem
}

.text-single{
    font-weight: 700;
    color: hsla(0, 0%, 0%, 0.600);
    line-height: 2;
}

/* Sezione 2 */

/* Sezione Viola - Sinistra */

.section{
    background-color: 	#826fffce;

}

.container{
    max-width: 900px;
    margin: auto;
    display: flex;
    padding-inline: 2.5rem;
    padding-bottom: 0.5rem;
    /* background-color: red; */
}

.sub-container{
    flex: calc(100% / 2);
    /* background-color: aqua;
    border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    font-size: 14px;
    line-height: 1.8;
}

.left{
    color: white;
}

.strategic{
    margin-bottom: 2rem;
}

.img-sub-container{
    width: 100%;
}

.img-left{
    padding-bottom: 4.5rem;
    padding-inline:1.5rem;
}

.planning-title{
    font-size:16px;
    padding-left: 2rem;
}

.strategic-text{
    padding-left: 1.5rem;
    padding-right: 1rem; 
}


/* Sezione Interna Bianca - Destra */

.right{
    padding-top: 16rem;
}

.intern-container{
    background-color: white;
    border-radius: 25px;
    padding-inline: 0.5rem;
    text-align: center;
    margin-inline: 2.5rem;
}

.img-right{
    padding-inline: 3rem;
    padding-top: 1rem;

}

.app-title{
    font-size: 15px;
    margin: 0.5rem;
}

.text-developer{
    font-size: 13.5px;
    font-style: oblique;
    font-weight: 500;
    padding-inline:0.5rem;
}

.fa-arrow-down-long{
    width: 45px;
    height: 45px;
    padding: 1rem;
    background-color: #826fffce;
    border-radius: 100%;
    margin: 1.4rem;
    object-fit: cover;
}


/* Sezione 3 */


/* Testata */

.testimonial{
    margin-top: 3rem;
    padding-inline: 5rem;
}

.testata{
    text-align: center;
    color: black;
}

.alone{
    font-size: 12px;
}

.title{
    font-size: 32px;
    text-align: center;  
}

.center{
    color: #826fffce;
}


.list-testata{
    margin-bottom: 1.5rem;
}

/* Parte centrale */

.center{
    margin-top: 3rem;
}

.element{
    background-color:#826fffce;
    height: 200px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    object-fit: cover;
}

.img-testimonial{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    padding: 0.5rem;
    object-fit: cover;
    margin-top: 0.5rem;
}

.list-testimonial{
    text-align: start;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    font-size: 14.5px;
    color: white;
}

.point-testimonial{
    padding-top: 1.2rem;
}

.fa-quote-left{
    position: relative;
    bottom:0.2rem;
    right:0.2rem;
}

.fa-quote-right{
    position: relative;
    left:0.2rem;
}
/* Sezione 4 */

.third-container{
    padding-top: 3rem;
    color: white;
    padding-bottom: 2rem;
}

.white{
    background-color: white;
    color: #826fffce;
    text-align: left;
    height: 340px; 
}

.point-cell-white{
    margin: 1.5rem;
}

.title-number{
    font-size: 55px;
    margin-bottom: -1rem;
    
}

.title-working{
    font-size: 18px;
}

.vitae{
    line-height: 1.8;
    color: black;
    font-size: 12.5px;
}

.more{
    background-color: #826fffce; 
    font-size: 12px; 
    padding-inline: 2.5rem;
}


/* Sezione 5 */

.About-Us-container{
    display: flex;
    flex-direction: row; 
}

/* Sub-container */

.about-sub-container{
    width: 80%;
    height: 470px;
    padding-inline: 1rem;
    font-size: 15px;
    margin-top: 2rem;
    margin-bottom: 11rem;
    
}

.title-about{
    font-size: 55px;
    color: #826fffce;
    padding-inline: 1rem;
}

.p-link{
    line-height: 2.5;
    padding-inline: 1rem ;
}

/* Sub-container 2 */

.sub-container-2{
    width: 30%;
    margin-top: 4rem;
    padding-inline: 1rem;
}

.img-about{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.big{
    font-size: 65px;
    color: #826fffce;
    position: relative;
    left:9rem;
    bottom:12.5rem;
}

.title-link{
    font-size: 22px;
    line-height: 1.4;
    color: #826fffce;
    margin-top: -3rem;
    margin-bottom: 1rem;
    
}

.button-link{
    padding-inline: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 12px;
    background-color: #826fffce;
    border-radius: 22px;
    color: white;
    border:0;
}

/* Sezione 6 */

.list-points{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.points{
    margin: 1.5rem;
}

.p1{
    color:rgb(202, 202, 202);
}

.p2{
    font-size: 25px;
    color: white;
}

.p3{
    font-size: 55px;
    color: 	#EEC900 ;
}

.p4{
    color: white;
    padding-inline: 15rem;
    line-height: 2.5;
}


.button-point{
    font-size: 15px;
    padding-inline: 4.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
    font-weight: 600;
    color: #826fffce;
    border-radius: 45px;
    border: 0;
}

.p5{
    font-size: 12px;
    text-align: left;
    color: white;
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragrafo-5{
    display: flex;
}

.paragraph{
    display: flex;
    align-items: center;
}

.punto{
    font-size: 20px;
    border-radius: 100%;
    padding-bottom: 10px;
    padding-inline: 5px;
}

.link-privacy{
    list-style: none;
    color: white;
}

.bi-circle-fill{
    margin: 0.5rem;
   
}

/* Footer */

.section-black{
    background-color: rgba(0, 0, 0, 0.851);
    height: 9rem;
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.ultimo{
    margin-top: 2rem;
    max-width: 280px;

}

.ulti{
    color: #826fffce;
}